{{ form_start(form, {'attr': {'id': 'register-form', 'class': 'text-left'}}) }}

    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form, {'attr': {'class' :'login-form-main-message'}}) }}

    {# Génération manuelle et éclatée : #}
{% if errorSession is defined %}
    {% if errorSession is not null %}
        <div class="alert alert-danger">
            {{ errorSession }}
        </div>
    {% endif %}
{% endif %}
<div class="main-login-form">
    <div class="login-group">
        {# Nom #}
        <div class="form-group">
            {# Génération du label. #}
            {{ form_label(form.nom) }}

            {# Affichage des erreurs pour ce champ précis. #}
            {{ form_errors(form.nom) }}

            {{ form_widget(form.nom) }}
        </div>

        {# Prénom #}
        <div class="form-group">
            {# Génération du label. #}
            {{ form_label(form.prenom) }}

            {# Affichage des erreurs pour ce champ précis. #}
            {{ form_errors(form.prenom) }}

            {{ form_widget(form.prenom) }}
        </div>

        {# Pseudo #}
        <div class="form-group">
            {# Génération du label. #}
            {{ form_label(form.username) }}

            {# Affichage des erreurs pour ce champ précis. #}
            {{ form_errors(form.username) }}

            {{ form_widget(form.username) }}
        </div>

        {# Téléphone #}
        <div class="form-group">
            {# Génération du label. #}
            {{ form_label(form.telephone) }}

            {# Affichage des erreurs pour ce champ précis. #}
            {{ form_errors(form.telephone) }}

            {{ form_widget(form.telephone) }}
        </div>

        {# Email #}
        <div class="form-group">
            {# Génération du label. #}
            {{ form_label(form.email) }}

            {# Affichage des erreurs pour ce champ précis. #}
            {{ form_errors(form.email) }}

            {{ form_widget(form.email) }}
        </div>

        {# Mot de passe #}
        <div class="form-group">
            {# Génération du label. #}
            {{ form_label(form.password) }}

            {# Affichage des erreurs pour ce champ précis. #}
            {{ form_errors(form.password) }}

            {{ form_widget(form.password) }}
        </div>

        {# Confirmation du mot de passe #}
        <div class="form-group">
            <label for="password_confirm" class="form-control">Confirmation du mot de passe</label>
            <input type="password" class="form-control" id="password_confirm" name="password_confirm"
                   placeholder="mdp123">
        </div>

        <div class="form-group">
            {# Génération du label. #}
            {{ form_label(form.role) }}

            {# Affichage des erreurs pour ce champ précis. #}
            {{ form_errors(form.role) }}

            {{ form_widget(form.role) }}
        </div>

        <div class="champSession form-group">
            {# Génération du label. #}
            {{ form_label(form.sessionFormation) }}

            {# Affichage des erreurs pour ce champ précis. #}
            {{ form_errors(form.sessionFormation) }}

            {{ form_widget(form.sessionFormation) }}
        </div>

    </div>

    {{ form_widget(form.save) }}

    {{ form_rest(form) }}

    {# Fermeture de la balise <form> du formulaire HTML #}
    {{ form_end(form) }}
    <div class="etc-login-form">
        <p>Déjà un compte? <a href=" {{ path('ft_personne_connexion') }}">Connectez-vous ici</a></p>
    </div>
    <div class="loader-gif" style="width: 100%; height: 30px">

    </div>
</div>