<<<<<<< HEAD
{% extends "FTProjetStageBundle::index.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href=" {{ asset('css/bootstrap.css') }}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <link href=" {{ asset('css/registration.css') }}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
{% endblock %}

{% block body %}
    <div class="text-center" style="padding:50px 0">
        <div class="logo">Inscription</div>
        <div class="login-form-1">
            {{ include("FTProjetStageBundle:Registration:form.html.twig") }}
            {#
            <form id="register-form" class="text-left">
                <div class="login-form-main-message"></div>
                <div class="main-login-form">
                    <div class="login-group">
                        <div class="form-group">
                            <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Nom">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Prénom">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="password" name="password" placeholder="Mot de passe">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="password_confirm" name="password_confirm" placeholder="Confirmation du mot de passe">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="username" name="username" placeholder="Pseudo">
                        </div>
                        <div class="form-group login-group-checkbox">
                            <input type="radio" class="typePersonne" name="personne" id="formateur">
                            <label for="formateur">Formateur</label>

                            <input type="radio" class="typePersonne" name="personne" id="etudiant" checked="checked">
                            <label for="etudiant">Étudiant</label>
                        </div>
                    </div>
                    <button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
                </div>
                <div class="etc-login-form">
                    <p>Déjà un compte? <a href=" {{ path('ft_user_connexion') }} ">Connectez-vous ici</a></p>
                </div>
            </form>
            #}
        </div>
    </div>
=======
{% extends "FTProjetStageBundle::index.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href=" {{ asset('css/bootstrap.css') }}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <link href=" {{ asset('css/registration.css') }}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
{% endblock %}

{% block body %}
    <div class="text-center" style="padding:50px 0">
        <div class="logo">Inscription</div>
        <div class="login-form-1">
            <form id="register-form" class="text-left">
                <div class="login-form-main-message"></div>
                <div class="main-login-form">
                    <div class="login-group">
                        <div class="form-group">
                            <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Nom">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Prénom">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="password" name="password" placeholder="Mot de passe">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="password_confirm" name="password_confirm" placeholder="Confirmation du mot de passe">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="username" name="username" placeholder="Pseudo">
                        </div>
                        <div class="form-group login-group-checkbox">
                            <input type="radio" class="typePersonne" name="personne" id="formateur">
                            <label for="formateur">Formateur</label>

                            <input type="radio" class="typePersonne" name="personne" id="etudiant" checked="checked">
                            <label for="etudiant">Étudiant</label>
                        </div>
                    </div>
                    <button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
                </div>
                <div class="etc-login-form">
                    <p>Déjà un compte? <a href=" {{ path('ft_user_connexion') }} ">Connectez-vous ici</a></p>
                </div>
            </form>
        </div>
    </div>
>>>>>>> 9ceb08c5ba1d2dfb31de8e13ca0dda19493115c1
{% endblock %}