{{ form_start(form, {'attr': {'id': 'register-form', 'class': 'text-left'}}) }}

    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form, {'attr': {'class' :'login-form-main-message'}}) }}

    {# Génération manuelle et éclatée : #}
<div class="main-login-form">
    <div class="login-group">
        {# Équipe #}
        <div class="form-group">
            {# Génération du label. #}
            {{ form_label(form.projets) }}

            {# Affichage des erreurs pour ce champ précis. #}
            {{ form_errors(form.projets) }}

            {{ form_widget(form.projets) }}
        </div>

        {{ form_widget(form.save) }}

        {{ form_rest(form) }}

        {# Fermeture de la balise <form> du formulaire HTML #}
        {{ form_end(form) }}

        <div class="loader-gif" style="width: 100%; height: 30px">

        </div>
    </div>
</div>