{# src/FT/ProjetStageBundle/Resources/views/index.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Bienvenue sur la page d'accueil de mon site {% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href=" {{ asset('css/bootstrap.css') }}">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
        <link href=" {{ asset('css/registration.css') }}" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    {% endblock %}
    <style>
        html {
            background-color: white;
        }

        body {
            width: 80%;
            margin: auto;
            margin-top: 20px;
            background-color: lightgrey;
            border-radius: 10px 10px 10px 10px;
        }

        nav li:hover {
            background-color: lightgrey;
        }
        footer {
            margin-left: 10px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Gestion étudiants et formateurs</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="{{ path('ft_projet_stage_homepage') }}">Page d'accueil</a></li>
            <li><a href="#">Liste des étudiants</a></li>
            <li><a href="#">Liste des formateurs</a></li>
            <li><a href="#">Liste des projets</a></li>
            <li><a href="#">Liste des équipes</a></li>
            {% if is_granted('IS_AUTHENTICATED_ANONYMOUSLY') %}
            <li id="navBarConnexion"><a href="{{ path('ft_personne_connexion') }}">Connexion</a></li>
            {% endif %}
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li><a href="{{ path('logout') }}">Déconnexion</a></li>
                <style>
                    #navBarConnexion{
                        display: none;
                    }
                </style>
            {% endif %}
        </ul>
    </div>
    <div style="border-top: solid; border-color: lightgrey; border-width: 1px;">Connecté en tant que {{ personne.username }}</div>
</nav>
{% block body %}
    <div class="container">
        <h3><a href="#">Les 3 derniers projets créés</a></h3>
        <div class="row">
            <div class="col-md-4">
                <h2>Heading</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                    mauris
                    condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis
                    euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Heading</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                    mauris
                    condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis
                    euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Heading</h2>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula
                    porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
                    ut
                    fermentum massa justo sit amet risus.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
        </div>

        <h3><a href="#">Les 3 dernières équipes créés</a></h3>
        <div class="row">
            <div class="col-md-4">
                <h2>Heading</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                    mauris
                    condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis
                    euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Heading</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                    mauris
                    condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis
                    euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Heading</h2>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula
                    porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
                    ut
                    fermentum massa justo sit amet risus.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
        </div>
    </div>
{% endblock %}
<hr>

<footer>
    <p>&copy; Florian Taffaneau, ENS Cachan</p>
</footer>
{% block js %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{{ asset('js/spinner.js') }}"></script>
{% endblock %}
</body>
</html>
