{# src/FT/ProjetStageBundle/Resources/views/index.html.twig #}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>{% block title %}Bienvenue sur la page d'accueil de mon site {% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href=" {{ asset('css/bootstrap.css') }}">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
        <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
        <link rel="stylesheet"
              href="https://cdn.datatables.net/v/bs/jszip-2.5.0/pdfmake-0.1.18/dt-1.10.12/b-1.2.2/b-colvis-1.2.2/b-flash-1.2.2/b-html5-1.2.2/b-print-1.2.2/fc-3.2.2/fh-3.1.2/r-2.1.0/datatables.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.25/daterangepicker.min.css">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/css/bootstrap-editable.css">
        <link rel="stylesheet" href="https://cdn.rawgit.com/noelboss/featherlight/1.7.1/release/featherlight.min.css">
        <link href=" {{ asset('css/registration.css') }}"
              rel="stylesheet"> <!-- Stylesheet pour tout ce qui touche à la connexion, inscription, modif profile etc -->
        <link rel="stylesheet" href="{{ asset('css/dashboard.css') }}"><!-- Stylesheet pour le dashboard -->
        <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    {% endblock %}
    <style>
        html {
            background-color: white;
        }

        body {
            width: 80%;
            margin: auto;
            margin-top: 20px;
            background-color: lightgrey;
            border-radius: 10px 10px 10px 10px;
        }

        nav li:hover {
            background-color: lightgrey;
        }

        footer {
            margin-left: 10px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a href="{{ path('ft_projet_stage_homepage') }}">Page d'accueil</a></li>
            <li><a href="{{ path('ft_liste_etudiants') }}">Liste des étudiants</a></li>
            <li><a href="{{ path('ft_liste_formateurs') }}">Liste des formateurs</a></li>
            <li><a href="{{ path('ft_liste_projets') }}">Liste des projets</a></li>
            <li><a href="{{ path('ft_liste_equipes') }}">Liste des équipes</a></li>
            {% if is_granted('IS_AUTHENTICATED_ANONYMOUSLY') %}
                <li id="navBarConnexion"><a href="{{ path('ft_personne_connexion') }}">Connexion</a></li>
            {% endif %}
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <li><a href="{{ path('logout') }}">Déconnexion</a></li>
                <li><a href="{{ path('ft_recherche') }}" id="hrefRecherche">Recherche</a></li>
                <style>
                    #navBarConnexion {
                        display: none;
                    }
                </style>
            {% endif %}
        </ul>
    </div>
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <div style="border-top: solid; border-color: lightgrey; border-width: 1px;">
            <span style="margin-left: 30px;">
                Connecté en tant que {{ app.user.username }}
            </span>
        </div>
    {% endif %}
</nav>

{% block body %}
    <div class="container" style="display: flex;">
        <div id="pagePrincipale" style="flex: 3;">
            <h3><a href="#">Les 3 derniers projets créés</a></h3>
            <div class="row">
                <div class="col-md-4">
                    <h2>Heading</h2>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                        mauris
                        condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
                        mollis
                        euismod. Donec sed odio dui. </p>
                    <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>Heading</h2>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                        mauris
                        condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
                        mollis
                        euismod. Donec sed odio dui. </p>
                    <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>Heading</h2>
                    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id
                        ligula
                        porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
                        nibh,
                        ut
                        fermentum massa justo sit amet risus.</p>
                    <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                </div>
            </div>

            <h3><a href="#">Les 3 dernières équipes créés</a></h3>
            <div class="row">
                <div class="col-md-4">
                    <h2>Heading</h2>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                        mauris
                        condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
                        mollis
                        euismod. Donec sed odio dui. </p>
                    <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>Heading</h2>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                        mauris
                        condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
                        mollis
                        euismod. Donec sed odio dui. </p>
                    <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>Heading</h2>
                    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id
                        ligula
                        porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
                        nibh,
                        ut
                        fermentum massa justo sit amet risus.</p>
                    <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                </div>
            </div>
        </div>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <div id="chat" style="flex: 1; border: 1px solid black">
                <h3 style="text-align: center;">Chat</h3>
                <hr>
                <div id="messagesChat">

                </div>
                <div id="postMessage" style="position: absolute; bottom: 0; margin: 5px;">
                    On aura ici le formulaire pour poster le message.
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
<footer>
    <p style="margin-left: 20px; margin-top: 80px; margin-bottom: -20px;">&copy; Florian Taffaneau, ENS Cachan</p>
</footer>
{% block js %}
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment-with-locales.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.25/daterangepicker.min.js"
            charset="UTF-8"></script>
    <script src="https://cdn.datatables.net/v/bs/jszip-2.5.0/pdfmake-0.1.18/dt-1.10.12/b-1.2.2/b-colvis-1.2.2/b-flash-1.2.2/b-html5-1.2.2/b-print-1.2.2/fc-3.2.2/fh-3.1.2/r-2.1.0/datatables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <script src="https://cdn.rawgit.com/noelboss/featherlight/1.7.1/release/featherlight.min.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>

    <script src="{{ asset('bundles/sgdatatables/js/pipeline.js') }}"></script>

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script src=" {{ asset('js/chat.js') }}"></script>
{% endblock %}

</body>
</html>
